
<div class="recipe-container" *ngIf="recipe">
	<div class="header">
	  <h1>{{ recipe.strMeal }}</h1>
	  <p class="category">{{ recipe.strCategory }} | {{ recipe.strArea }}</p>
	</div>
  
	<img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" class="recipe-image" />
  
	<section class="ingredients">
	  <h2>Ingredients</h2>
	  <ul>
		<li *ngFor="let i of ingredientIndices">
		  {{ recipe['strIngredient' + i] }} - {{ recipe['strMeasure' + i] }}
		</li>
	  </ul>
	</section>
  
	<section class="instructions">
	  <h2>Instructions</h2>
	  <p>{{ recipe.strInstructions }}</p>
	</section>
  
	<a [href]="recipe.strYoutube" target="_blank" class="btn" *ngIf="recipe.strYoutube">
	  ▶ Watch Video
	</a>
  </div>

  <div class="rating">
	<span *ngFor="let star of [1,2,3,4,5]" 
		  (click)="setRating(star)" 
		  [class.filled]="star <= rating">&#9733;</span>
  </div>
  
  