<body>
  <div class="container py-5">
    <div class="row g-4">
      <!-- Boucle sur les recettes -->
      <div class="col-md-4" *ngFor="let recipe of recipes">
        <div
          class="category-card"
          [ngStyle]="{ 'background-image': 'url(' + recipe.strMealThumb + ')' }"
        >
          <div class="category-overlay"></div>
          <div class="category-content text-white text-center p-4">
            <h3>{{ recipe.strMeal }}</h3>
            <a
              class="btn btn-outline-light mt-3"
              [routerLink]="['/recipe', recipe.idMeal]"
            >
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
