
<body>

    <div class="container py-5">
      <div class="row g-4">
        <div class="col-md-4">
          <div class="category-card" style="background-image: url('https://img.freepik.com/free-photo/top-view-appetizing-seafood-mix-wooden-table_181624-42803.jpg?t=st=1746014197~exp=1746017797~hmac=0600c5dbb596792e63519d564255f2b2ae97ccca8ea454e75f09e8adbc24fd1e&w=900');">
            <div class="category-overlay"></div>
            <div class="category-content">
              <h3>SEAFOOD & FISH</h3>
              <button class="btn btn-outline-white">RECIEPE DETAILS</button>
            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="category-card" style="background-image: url('https://images.pexels.com/photos/31846558/pexels-photo-31846558/free-photo-of-steak-gastronomique-et-salade-aux-ingredients-frais.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
            <div class="category-overlay"></div>
            <div class="category-content">
              <h3>MEAT & POULTRY</h3>
              <button class="btn btn-outline-white">PROGRAM DETAILS</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="category-card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg');">
            <div class="category-overlay"></div>
            <div class="category-content">
              <h3>EUROPEAN CUISINE</h3>
              <button class="btn btn-outline-white">PROGRAM DETAILS</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </body>
    

